# Chapter 3 Underneath an RDD and The DataFrame API

# Creating structures from list

In [23]:
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as F
from pyspark.sql.types import *
spark = (
    SparkSession
    .builder
    .appName("structuring_Spark")
    .getOrCreate()
    )
sc = spark.sparkContext

## Creating an RDD

In [24]:
# creating RDD
dataRDD = sc.parallelize(
    [("Brooke", 20), ("Denny", 31), ("Jules", 30), ("TD", 35), ("Brooke", 25)]
    )
# aggregating to get mean age
agesRDD = (
    dataRDD
    .map(lambda x: (x[0], (x[1], 1)))
    .reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1])) 
    .map(lambda x: (x[0], x[1][0]/x[1][1]))
    )
print(agesRDD.take(10))

[('Brooke', 22.5), ('TD', 35.0), ('Denny', 31.0), ('Jules', 30.0)]

## Now with DataFrame

In [25]:
# creating df from list
data_df = spark.createDataFrame(
    [("Brooke", 20), ("Denny", 31), ("Jules", 30), ("TD", 35), ("Brooke", 25)],
    ["name", "age"]
    )
# aggregating
agg_df = data_df.groupBy("name").agg(F.avg("age"))
agg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Denny|    31.0|
| Jules|    30.0|
|    TD|    35.0|
+------+--------+

# The DataFrame API

In [26]:
schema = "`Id` INT, `First` STRING, `Last` STRING, `Url` STRING, " + \
    "`Published` STRING, `Hits` INT, `Campaigns` ARRAY<STRING>"
data = [
    [1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
    [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
    [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web", "twitter", "FB", "LinkedIn"]],
    [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
    [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
    [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
    ]
blogs_df = spark.createDataFrame(data, schema)
blogs_df.show()
print(blogs_df.printSchema())

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

None

In [27]:
# Or with classes
schema = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)]
   )
blogs_df = spark.createDataFrame(data, schema)
blogs_df.show()
print(blogs_df.printSchema())

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- Id: integer (nullable = false)
 |-- First: string (nullable = false)
 |-- Last: string (nullable = false)
 |-- Url: string (nullable = false)
 |-- Published: string (nullable = false)
 |-- Hits: integer (nullable = false)
 |-- Campaigns: array (nullable = false)
 |    |-- element: string (containsNull = true)

None

# Columns manipulation

In [28]:

blogs_df.select(F.expr("Hits") * 2).show(2)
blogs_df.select(F.col("Hits") * 2).show(2)
blogs_df.select(F.expr("Hits * 2")).show(2)
# show heavy hitters
blogs_df.withColumn("Big Hitters", (F.expr("Hits > 10000"))).show()
print(blogs_df.schema)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
+----------+
only showing top 2 rows

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
+----------+
only showing top 2 rows

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
+----------+
only showing top 2 rows

+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|Big Hitters|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      false|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      false|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      false|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|       true|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|       true|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|       true|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+

StructType([StructField('Id', IntegerType(), False), StructField('First', StringType(), False), StructField('Last', StringType(), False), StructField('Url', StringType(), False), StructField('Published', StringType(), False), StructField('Hits', IntegerType(), False), StructField('Campaigns', ArrayType(StringType(), True), False)])

In [29]:
# concatenating columns
(
    blogs_df
    .withColumn("AuthorsId", (F.concat(F.expr("First"), F.expr("Last"), F.expr("Id")))) 
    .select(F.col("AuthorsId"))
    .show(4)
)

+-------------+
|    AuthorsId|
+-------------+
|  JulesDamji1|
| BrookeWenig2|
|    DennyLee3|
|TathagataDas4|
+-------------+
only showing top 4 rows

In [30]:
# sorting
blogs_df.sort(F.col("Id").desc()).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

# Rows

In [31]:
blog_row = Row(6, "Reynold", "Xin", "https://tinyurl.6", 255568, "3/2/2015",
["twitter", "LinkedIn"])
blog_row

In [32]:
# creating dataframe from rows
rows = [Row("Matei Zaharia", "CA"), Row("Reynold Xin", "CA")]
authors_df = spark.createDataFrame(rows, ["Authors", "State"])
authors_df.show()

+-------------+-----+
|      Authors|State|
+-------------+-----+
|Matei Zaharia|   CA|
|  Reynold Xin|   CA|
+-------------+-----+

# Data Readers and Data Writers

In [33]:
fire_schema = StructType([
    StructField('CallNumber', IntegerType(), True),
    StructField('UnitID', StringType(), True),
    StructField('IncidentNumber', IntegerType(), True),
    StructField('CallType', StringType(), True),
    StructField('CallDate', StringType(), True),
    StructField('WatchDate', StringType(), True),
    StructField('CallFinalDisposition', StringType(), True),
    StructField('AvailableDtTm', StringType(), True),
    StructField('Address', StringType(), True),
    StructField('City', StringType(), True),
    StructField('Zipcode', IntegerType(), True),
    StructField('Battalion', StringType(), True),
    StructField('StationArea', StringType(), True),
    StructField('Box', StringType(), True),
    StructField('OriginalPriority', StringType(), True),
    StructField('Priority', StringType(), True),
    StructField('FinalPriority', IntegerType(), True),
    StructField('ALSUnit', BooleanType(), True),
    StructField('CallTypeGroup', StringType(), True),
    StructField('NumAlarms', IntegerType(), True),
    StructField('UnitType', StringType(), True),
    StructField('UnitSequenceInCallDispatch', IntegerType(), True),
    StructField('FirePreventionDistrict', StringType(), True),
    StructField('SupervisorDistrict', StringType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('RowID', StringType(), True),
    StructField('Delay', FloatType(), True)
    ])
sf_fire_file = "./data/sf-fire-calls.csv"
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

In [34]:
fire_df.show(10)

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|    Delay|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|  20110016|   T13|       2003235|  Structure Fire|01/11/2002|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         NULL|        1|   TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|     2.95|
|  20110022|   M17|       2003241|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         NULL|        1|   MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|      4.7|
|  20110023|   M41|       2003242|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         NULL|        1|   MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|2.4333334|
|  20110032|   E11|       2003250|    Vehicle Fire|01/11/2002|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|      1.5|
|  20110043|   B04|       2003259|          Alarms|01/11/2002|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         NULL|        1|   CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|3.4833333|
|  20110072|   T08|       2003279|  Structure Fire|01/11/2002|01/11/2002|               Other|01/11/2002 08:03:...|  BEALE ST/FOLSOM ST|  SF|  94105|      B03|         35|2122|               3|       3|            3|  false|         NULL|        1|   TRUCK|                         2|                     3|                 6|Financial Distric...|(37.7886866619654...|020110072-T08|     1.75|
|  20110125|   E33|       2003301|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:46:...|0 Block of FARALL...|  SF|  94112|      B09|         33|8324|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         2|                     9|                11|Oceanview/Merced/...|(37.7140353531157...|020110125-E33|2.7166667|
|  20110130|   E36|       2003304|          Alarms|01/11/2002|01/11/2002|               Other|01/11/2002 09:58:...|600 Block of POLK ST|  SF|  94102|      B02|         03|3114|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         1|                     2|                 6|          Tenderloin|(37.7826266328595...|020110130-E36|1.7833333|
|  20110197|   E05|       2003343|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 12:06:...|1500 Block of WEB...|  SF|  94115|      B04|         05|3513|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         1|                     4|                 5|           Japantown|(37.784958590666,...|020110197-E05|1.5166667|
|  20110215|   E06|       2003348|Medical Incident|01/11/2002|01/11/2002|               Other|01/11/2002 01:08:...|DIAMOND ST/MARKET ST|  SF|  94114|      B05|         06|5415|               3|       3|            3|  false|         NULL|        1|  ENGINE|                         1|                     5|                 8| Castro/Upper Market|(37.7618954753708...|020110215-E06|2.7666667|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
only showing top 10 rows

In [35]:
# saving as parquet
parquet_path = "./data/saved_parquet"
fire_df.write.format("parquet").save(parquet_path, mode="overwrite")

25/05/05 22:29:20 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 92,31% for 8 writers
25/05/05 22:29:20 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 82,05% for 9 writers
25/05/05 22:29:20 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 73,85% for 10 writers
25/05/05 22:29:20 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 67,13% for 11 writers
25/05/05 22:29:21 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 73,85% for 10 writers
25/05/05 22:29:21 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 82,05% for 9 writers
25/05/05 22:29:21 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 92,31% for 8 writers

In [36]:
# saving as table
parquet_table = "test_table"
_ = spark.sql(f"DROP TABLE IF EXISTS {parquet_table}")
fire_df.write.format("parquet").saveAsTable(parquet_table)

25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 92,31% for 8 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 82,05% for 9 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 73,85% for 10 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 67,13% for 11 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 73,85% for 10 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 82,05% for 9 writers
25/05/05 22:29:22 WARN MemoryManager: Total allocation exceeds 95,00% (991 166 452 bytes) of heap memory
Scaling row group sizes to 92,31% for 8 writers

In [37]:
spark.read.table(parquet_table).show(10)
_ = spark.sql(f"DROP TABLE IF EXISTS {parquet_table}")

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|      UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|    Delay|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|   1850050|   M15|         55301|Medical Incident|07/03/2000|07/02/2000|               Other|07/03/2000 07:38:...|200 Block of SAN ...|  SF|  94127|      B09|         39|8554|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     9|                 7|  West of Twin Peaks|(37.7325253339799...|001850050-M15|5.0833335|
|   1850058|   T01|         55309|          Alarms|07/03/2000|07/02/2000|               Other|07/03/2000 07:05:...| 100 Block of 9TH ST|  SF|  94103|      B02|         36|2336|               3|       3|            3|   true|         NULL|        1|         TRUCK|                         3|                     2|                 6|     South of Market|(37.7751756623626...|001850058-T01|2.7666667|
|   1850065|   RC2|         55316|Medical Incident|07/03/2000|07/02/2000|               Other|07/03/2000 08:03:...|2000 Block of MIS...|  SF|  94110|      B02|         07|5236|               3|       3|            3|   true|         NULL|        1|RESCUE CAPTAIN|                         3|                     2|                 9|             Mission|(37.7642444942899...|001850065-RC2|      2.7|
|   1850070|   M03|         55321|Medical Incident|07/03/2000|07/03/2000|               Other|07/03/2000 09:01:...|    6TH ST/MARKET ST|  SF|  94102|      B03|         01|2248|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                     3|                 6|     South of Market|(37.7822305756448...|001850070-M03|2.8666666|
|   1850104|   E08|         55354|Medical Incident|07/03/2000|07/03/2000|               Other|07/03/2000 11:26:...|   4TH ST/BRANNAN ST|  SF|  94107|      B03|         08|2223|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         2|                     3|                 6|     South of Market|(37.7783268314649...|001850104-E08|1.5166667|
|   1850113|   E17|         55363|  Structure Fire|07/03/2000|07/03/2000|               Other|07/03/2000 11:59:...|  3RD ST/BANCROFT AV|  SF|  94124|      B10|         17|6537|               3|       3|            3|  false|         NULL|        1|        ENGINE|                         1|                    10|                10|Bayview Hunters P...|(37.7262373966555...|001850113-E17|7.2166667|
|   1850115|   M36|         55365|Medical Incident|07/03/2000|07/03/2000|               Other|07/03/2000 01:11:...|500 Block of VALE...|  SF|  94110|      B02|         07|5247|               2|       2|            2|   true|         NULL|        1|         MEDIC|                         1|                     2|                 8|             Mission|(37.7641044099588...|001850115-M36| 8.666667|
|   1850122|   B07|         55372|  Structure Fire|07/03/2000|07/03/2000|               Other|07/03/2000 02:25:...|1500 Block of GRO...|  SF|  94117|      B05|         21|4253|               3|       3|            3|  false|         NULL|        3|         CHIEF|                        24|                     5|                 5|   Lone Mountain/USF|(37.7754543454069...|001850122-B07|5.7166667|
|   1850124|    D1|         55373|  Structure Fire|07/03/2000|07/03/2000|               Other|07/03/2000 12:33:...|     BAY ST/MASON ST|  SF|  94133|      B01|         28|1425|               3|       3|            3|  false|         NULL|        1|         CHIEF|                         5|                     1|                 3|         North Beach|(37.8056184799358...| 001850124-D1| 4.983333|
|   1850132|   M09|         55382|Medical Incident|07/03/2000|07/03/2000|               Other|07/03/2000 01:32:...|200 Block of BAY ...|  SF|  94124|      B10|         09|6375|               3|       3|            3|   true|         NULL|        1|         MEDIC|                         2|                    10|                10|Bayview Hunters P...|(37.7442404121423...|001850132-M09|1.9166666|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
only showing top 10 rows

# Some transformations

In [38]:
# where
few_fire_df = (fire_df
    .select("IncidentNumber", "AvailableDtTm", "CallType")
    .where(F.col("CallType") != "Medical Incident"))
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [39]:
# filter
few_fire_df = (fire_df
    .select("IncidentNumber", "AvailableDtTm", "CallType")
    .filter(F.col("CallType") != "Medical Incident"))
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [40]:
# count distinct
(
    fire_df
    .select("CallType")
    .where(F.col("CallType").isNotNull())
    .agg(F.countDistinct("CallType").alias("DistinctCallTypes"))
    .show()
)

+-----------------+
|DistinctCallTypes|
+-----------------+
|               30|
+-----------------+

In [41]:
# output distinct ones themselves
(
    fire_df
    .select("CallType")
    .where(F.col("CallType").isNotNull())
    .distinct()
    .show(10, False)
)

+-----------------------------+
|CallType                     |
+-----------------------------+
|Elevator / Escalator Rescue  |
|Aircraft Emergency           |
|Alarms                       |
|Odor (Strange / Unknown)     |
|Citizen Assist / Service Call|
|HazMat                       |
|Explosion                    |
|Oil Spill                    |
|Vehicle Fire                 |
|Suspicious Package           |
+-----------------------------+
only showing top 10 rows

In [42]:
# renaming F.columns
new_fire_df = fire_df.withColumnRenamed("Delay", "ResponseDelayedinMins")
(
    new_fire_df
    .select("ResponseDelayedinMins")
    .where(F.col("ResponseDelayedinMins") > 5)
    .show(5, False)
)

+---------------------+
|ResponseDelayedinMins|
+---------------------+
|5.35                 |
|6.25                 |
|5.2                  |
|5.6                  |
|7.25                 |
+---------------------+
only showing top 5 rows

In [43]:
# formating
fire_ts_df = (
    new_fire_df
    .withColumn("IncidentDate", F.to_timestamp(F.col("CallDate"), "dd/MM/yyyy"))
    .drop("CallDate")
    .withColumn("OnWatchDate", F.to_timestamp(F.col("WatchDate"), "dd/MM/yyyy"))
    .drop("WatchDate")
    .withColumn("AvailableDtTS", F.to_timestamp(F.col("AvailableDtTm"), "dd/MM/yyyy hh:mm:ss a"))
    .drop("AvailableDtTm")
    )
# Select the converted F.columns
(
    fire_ts_df
    .select("IncidentDate", "OnWatchDate", "AvailableDtTS")
    .show(5, False)
)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-11-01 00:00:00|2002-10-01 00:00:00|2002-11-01 01:51:44|
|2002-11-01 00:00:00|2002-10-01 00:00:00|2002-11-01 03:01:18|
|2002-11-01 00:00:00|2002-10-01 00:00:00|2002-11-01 02:39:50|
|2002-11-01 00:00:00|2002-10-01 00:00:00|2002-11-01 04:16:46|
|2002-11-01 00:00:00|2002-10-01 00:00:00|2002-11-01 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [44]:
# date_trunc (kinda)
(
    fire_ts_df
    .select(F.year('IncidentDate'))
    .distinct()
    .orderBy(F.year('IncidentDate'))
    .show()
)

+------------------+
|year(IncidentDate)|
+------------------+
|              NULL|
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [45]:
# groupBy
(   
    fire_ts_df
    .select("CallType")
    .where(F.col("CallType").isNotNull())
    .groupBy("CallType")
    .count()
    .orderBy("count", ascending=False)
    .show(n=10, truncate=False)
)

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [46]:
# AKA describe()
(
    fire_ts_df.select(
        F.sum("NumAlarms"),
        F.avg("ResponseDelayedinMins"),
        F.min("ResponseDelayedinMins"),
        F.max("ResponseDelayedinMins"),
    ).show()
)

+--------------+--------------------------+--------------------------+--------------------------+
|sum(NumAlarms)|avg(ResponseDelayedinMins)|min(ResponseDelayedinMins)|max(ResponseDelayedinMins)|
+--------------+--------------------------+--------------------------+--------------------------+
|        176170|         3.892364154521585|               0.016666668|                   1844.55|
+--------------+--------------------------+--------------------------+--------------------------+